body {
  background-color: #e9e9e9 !important;
}

/* NAV */

.hidden.menu {
  display: none;
}

.ui.secondary.inverted.pointing.menu {
  border: none;
  margin-left: -150px;
}

/* LANDING */

#main {
  display: block;
}
#mainContainer {
  position: relative;
  z-index: 5 !important;
  pointer-events: none;
}

#mainHead {
  font-size: 100px;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
  background: linear-gradient(180deg, #17181c, #141414) !important;
  background-position: center !important;
  /* height: 100vh !important; */
  height: 100vh !important;
  overflow: hidden;
}

.ball {
  position: absolute;
  pointer-events: none;
}

#bigball {
  top: -500px;
  right: 0;
  bottom: 0;
  left: 70%;
  width: 800px;
  height: 800px;
  background: linear-gradient(190deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

#mediumball {
  top: 80%;
  right: 0;
  bottom: 0;
  left: 27%;
  width: 250px;
  height: 250px;
  background: linear-gradient(190deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

#smallball {
  top: 60%;
  right: 0;
  bottom: 0;
  left: 10%;
  width: 120px;
  height: 120px;
  background: linear-gradient(320deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.item {
  position: relative;
  z-index: 99 !important;
}

#return {
  display: none;
}

#return h2 {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  color: linear;
  background: -webkit-linear-gradient(200deg, #ffffff, #b4b4b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  letter-spacing: 0.09em;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  color: linear;
  background: -webkit-linear-gradient(right, #09c6f9, #045de9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* SEARCH */

#searchContainer {
  width: 100vw !important;
  margin-top: 30vh !important;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container #searchContainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.container .search {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 55%;
  width: 500px;
  height: 500px;
  background: linear-gradient(to right, #09c6f9, #045de9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
  cursor: pointer;
}

.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 128px;
  right: 0;
  bottom: 0;
  left: 128px;
  width: 60px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -20px;
  right: 0;
  bottom: 0;
  left: -20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 35vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: linear-gradient(to right, #09c6f9, #045de9);
  color: white;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 50px 0 #045de9, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5 !important;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  display: none;
}

.container input:hover {
  cursor: pointer;
}

.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
  position: absolute;
}

.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.container input::placeholder {
  color: white;
  opacity: none;
  font-weight: 200;
}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  transform: scale(0);
  position: absolute;
  opacity: 10;
  z-index: -1 !important;
}

.rippleEffect {
  animation: rippleDrop 8s linear;
  animation-fill-mode: forwards;
}

@keyframes rippleDrop {
  100% {
    transform: scale(100);
    opacity: 100%;
  }
}

.ui.vertical.stripe {
  padding: 8em 0em;
  background: linear-gradient(180deg, #141414, #17181c) !important;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
  background: linear-gradient(to right, #09c6f9, #045de9) !important;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

/* CARDSSSS */

.card {
  perspective: 1000px;
  margin-right: 200px;
  margin-left: 200px;
  width: 1000px !important;
  height: 300px !important;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.active:hover .card-front {
  transform: rotateY(180deg);
}

.card.active:hover .card-back {
  transform: rotateY(0deg);
}

/* Position the front and back side */
.card-front,
.card-back {
  display: flex;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: cover;
  justify-content: center;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  border-radius: 10px !important;
  background: linear-gradient(to right, #1c1c1c, #1e1e1e) !important;
  box-shadow: -1rem 0 3rem #000 !important;
  width: 500px !important;
  height: 300px !important;
  overflow: hidden;
  overflow-wrap: break-word;
  align-content: center;
}

.card-front {
  text-align: center;
}

.card-front .review {
  position: absolute;
  width: 100%;
  font-size: 8em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: left;
  color: rgba(255, 255, 255, 0.05);
  top: 20px;
  left: 20px;
}
.card-front .header {
  align-self: center;
  position: relative;
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}
.card-back {
  transform: rotateY(-180deg);
  border-radius: 10px !important;
}

.card-back .banner {
  height: 100%;
  padding: 50px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.05);
}

.card-back .meta {
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  top: 30px;
  left: 30px;
}
.card-back .description {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 70px;
  padding-left: 30px;
}

/* TRUTH INDICATOR */

/* .bar {
  position: absolute;
  top: 230px;
  left: 100px;
  height: 10px;
  width: 300px;
  border-radius: 30px;
}

.emptybar {
  background: #2e303300;
  width: 100%;
  height: 100%;
}
.card:hover .emptybar {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgb(168, 66, 66) 20%,
    rgb(221, 201, 102) 50%,
    rgb(54, 115, 202) 80%
  ) !important;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 300px;
  height: 100%;
  background-color: #2e3033;
  transition: 0.6s ease-in-out;
  border-radius: 30px;
}

.card:hover .filledbar {
  width: 100px;
  transition: 0.4s ease-in-out;
} */

/* CARD INDEX */

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: calc(50% - 53vw);
  margin-bottom: 200px;
  margin-top: 50px;
}

.cardContainer .card {
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
}

.cardContainer .card:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.cardContainer .card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.cardContainer .card.prev,
.cardContainer .card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 100;
  pointer-events: auto;
  transition: 1s;
}

.card.prev .card-front,
.card.next .card-front {
  filter: blur(0.5px);
  opacity: 0.8;
}

@media only screen and (max-width: 1500px) {
  .ui.secondary.inverted.pointing.menu {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none !important;
  }
  .secondary.pointing.menu .toc.item {
    display: block !important;
  }
  .ui.container {
    display: inline !important;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 4em !important;
    margin-top: 1.5em;
    text-align: center;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }
  .cardContainer {
    display: inline-flex !important;
  }
  .ball {
    display: none;
  }
  .search {
    position: relative !important;
    margin: auto !important;
    width: 200px !important;
    height: 200px !important;
    top: 15% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  .container .search::before {
    top: 50px;
    right: 0;
    bottom: 0;
    left: 50px;
    width: 25px;
    height: 2px;
  }
  .container .search::after {
    top: -9px;
    right: 0;
    bottom: 0;
    left: -9px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
}

/* BUBBLES */

.bubble {
  background: linear-gradient(190deg, #09c6f9, #045de9) !important;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  opacity: 0.93;
  left: 42vw;
  top: 51vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(1.73);
  -ms-transform: translate(0, 0) scale(1.73);
  -webkit-transform: translate(0, 0) scale(1.73);
  transform: translate(0, 0) scale(1.73);
}
.bubble-2 {
  opacity: 0.96;
  left: 87vw;
  top: 56vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(1.54);
  -ms-transform: translate(0, 0) scale(1.54);
  -webkit-transform: translate(0, 0) scale(1.54);
  transform: translate(0, 0) scale(1.54);
}
.bubble-3 {
  opacity: 0.5;
  left: 88vw;
  top: 35vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.18);
  -ms-transform: translate(0, 0) scale(1.18);
  -webkit-transform: translate(0, 0) scale(1.18);
  transform: translate(0, 0) scale(1.18);
}
.bubble-4 {
  opacity: 1;
  left: 98vw;
  top: 28vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.56);
  -ms-transform: translate(0, 0) scale(1.56);
  -webkit-transform: translate(0, 0) scale(1.56);
  transform: translate(0, 0) scale(1.56);
}
.bubble-5 {
  opacity: 0.13;
  left: 78vw;
  top: 15vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.19);
  -ms-transform: translate(0, 0) scale(0.19);
  -webkit-transform: translate(0, 0) scale(0.19);
  transform: translate(0, 0) scale(0.19);
}

@keyframes move-1 {
  54% {
    -moz-transform: translate(-61vw, -98vh);
    -webkit-transform: translate(-61vw, -98vh);
    transform: translate(-61vw, -98vh);
  }
}
@keyframes move-2 {
  42% {
    -moz-transform: translate(-11vw, -90vh);
    -webkit-transform: translate(-11vw, -90vh);
    transform: translate(-11vw, -90vh);
  }
}
@keyframes move-3 {
  51% {
    -moz-transform: translate(-70vw, -53vh);
    -webkit-transform: translate(-70vw, -53vh);
    transform: translate(-70vw, -53vh);
  }
}
@keyframes move-4 {
  48% {
    -moz-transform: translate(-15vw, -38vh);
    -webkit-transform: translate(-15vw, -38vh);
    transform: translate(-15vw, -38vh);
  }
}
@keyframes move-5 {
  53% {
    -moz-transform: translate(-38vw, -6vh);
    -webkit-transform: translate(-38vw, -6vh);
    transform: translate(-38vw, -6vh);
  }
}
