body {
  background-color: #e9e9e9 !important;
}

/* NAV */

.hidden.menu {
  display: none;
}

.ui.secondary.inverted.pointing.menu {
  border: none;
}

/* LANDING */

#main {
  display: block;
}
#mainContainer {
  position: relative;
  z-index: 5 !important;
  pointer-events: none;
}

#mainHead {
  font-size: 100px;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
  background: linear-gradient(180deg, #17181c, #141414) !important;
  background-position: center !important;
  /* height: 100vh !important; */
  height: 100vh !important;
  overflow: hidden;
}

.ball {
  position: absolute;
  pointer-events: none;
}

#bigball {
  top: -500px;
  right: 0;
  bottom: 0;
  left: 70%;
  width: 800px;
  height: 800px;
  background: linear-gradient(190deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

#mediumball {
  top: 80%;
  right: 0;
  bottom: 0;
  left: 27%;
  width: 250px;
  height: 250px;
  background: linear-gradient(190deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

#smallball {
  top: 60%;
  right: 0;
  bottom: 0;
  left: 10%;
  width: 120px;
  height: 120px;
  background: linear-gradient(320deg, #045de9, #09c6f9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.item {
  position: relative;
  z-index: 99 !important;
}

#return {
  display: none;
}

#return h2 {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  color: linear;
  background: -webkit-linear-gradient(200deg, #ffffff, #b4b4b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  letter-spacing: 0.09em;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  color: linear;
  background: -webkit-linear-gradient(right, #09c6f9, #045de9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* SEARCH */

#searchContainer {
  width: 100vw !important;
  margin-top: 30vh !important;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container #searchContainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.container .search {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 55%;
  width: 500px;
  height: 500px;
  background: linear-gradient(to right, #09c6f9, #045de9);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4 !important;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .search:hover {
  cursor: pointer;
}

.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 128px;
  right: 0;
  bottom: 0;
  left: 128px;
  width: 60px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -20px;
  right: 0;
  bottom: 0;
  left: -20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 35vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: linear-gradient(to right, #09c6f9, #045de9);
  color: white;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 50px 0 #045de9, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5 !important;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  display: none;
}

.container input:hover {
  cursor: pointer;
}

.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
  position: absolute;
}

.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.container input::placeholder {
  color: white;
  opacity: none;
  font-weight: 200;
}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  transform: scale(0);
  position: absolute;
  opacity: 10;
  z-index: -1 !important;
}

.rippleEffect {
  animation: rippleDrop 8s linear;
  animation-fill-mode: forwards;
}

@keyframes rippleDrop {
  100% {
    transform: scale(100);
    opacity: 100%;
  }
}

/* #search {
    background: linear-gradient( to right, #09C6F9, #045DE9) !important;
    border: none;
}
.ui.input>input {
    color: white !important;
}

::placeholder {
    color: white !important;
}

.search.icon {
    color: white !important;
} */

.ui.vertical.stripe {
  padding: 8em 0em;
  background: linear-gradient(180deg, #141414, #17181c) !important;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
  background: linear-gradient(to right, #09c6f9, #045de9) !important;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

/* CARDSSSS */

.card {
  perspective: 1000px;
  margin-right: 200px;
  margin-left: 200px;
  width: 1000px !important;
  height: 300px !important;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.active:hover .card-front {
  transform: rotateY(180deg);
}

.card.active:hover .card-back {
  transform: rotateY(0deg);
}

/* Position the front and back side */
.card-front,
.card-back {
  display: flex;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: cover;
  justify-content: center;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  border-radius: 10px !important;
  background: linear-gradient(to right, #1c1c1c, #1e1e1e) !important;
  box-shadow: -1rem 0 3rem #000 !important;
  width: 500px !important;
  height: 300px !important;
  overflow: hidden;
  overflow-wrap: break-word;
  align-content: center;
}

.card-front {
  text-align: center;
}

.card-front .review {
  position: absolute;
  width: 100%;
  font-size: 8em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: left;
  color: rgba(255, 255, 255, 0.05);
  top: 20px;
  left: 20px;
}
.card-front .header {
  align-self: center;
  position: relative;
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}
.card-back {
  transform: rotateY(-180deg);
  border-radius: 10px !important;
}

.card-back .banner {
  height: 100%;
  padding: 50px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.05);
}

.card-back .meta {
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  top: 30px;
  left: 30px;
}
.card-back .description {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 70px;
  padding-left: 30px;
}

/* TRUTH INDICATOR */

/* .bar {
  position: absolute;
  top: 230px;
  left: 100px;
  height: 10px;
  width: 300px;
  border-radius: 30px;
}

.emptybar {
  background: #2e303300;
  width: 100%;
  height: 100%;
}
.card:hover .emptybar {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgb(168, 66, 66) 20%,
    rgb(221, 201, 102) 50%,
    rgb(54, 115, 202) 80%
  ) !important;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 300px;
  height: 100%;
  background-color: #2e3033;
  transition: 0.6s ease-in-out;
  border-radius: 30px;
}

.card:hover .filledbar {
  width: 100px;
  transition: 0.4s ease-in-out;
} */

/* CARD INDEX */

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: calc(50% - 53vw);
  margin-bottom: 200px;
  margin-top: 50px;
}

.cardContainer .card {
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
}

.cardContainer .card:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.cardContainer .card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.cardContainer .card.prev,
.cardContainer .card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 100;
  pointer-events: auto;
  transition: 1s;
}

.card.prev .card-front,
.card.next .card-front {
  filter: blur(0.5px);
  opacity: 0.8;
}

/* working */
/* 
.cardContainer {
  position: relative;
  height: 300px;
  top: 60px;
  flex-direction: row;

  left: calc(50% - 300px);
  display: flex;
}

.cardContainer .card {
  display: flex;
  height: 280px;
  width: 200px;
  background: linear-gradient(#045de9, #09c6f9);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.cardContainer .card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.cardContainer .card.prev,
.cardContainer .card.next {
  z-index: 2;
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}

.cardContainer .card.prev {
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(26rem);
  transform: scale(0.8) translateY(-1rem) translateX(0rem);
}

.cardContainer .card.next {
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(-26rem);
  transform: scale(0.8) translateY(-1rem) translateX(0rem);
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #030303;
  stroke-width: 5px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
} */

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none !important;
  }
  .secondary.pointing.menu .toc.item {
    display: block !important;
  }
  .ui.container {
    display: inline !important;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 4em !important;
    margin-top: 1.5em;
    text-align: center;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }
  .cardContainer {
    display: inline-flex !important;
  }
  .ball {
    display: none;
  }
  .search {
    position: relative !important;
    margin: auto !important;
    width: 200px !important;
    height: 200px !important;
    top: 15% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  .container .search::before {
    top: 50px;
    right: 0;
    bottom: 0;
    left: 50px;
    width: 25px;
    height: 2px;
  }
  .container .search::after {
    top: -9px;
    right: 0;
    bottom: 0;
    left: -9px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
}

/* BUBBLES */

.bubble {
  background: linear-gradient(190deg, #09c6f9, #045de9) !important;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  opacity: 0.93;
  left: 42vw;
  top: 51vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(1.73);
  -ms-transform: translate(0, 0) scale(1.73);
  -webkit-transform: translate(0, 0) scale(1.73);
  transform: translate(0, 0) scale(1.73);
}
.bubble-2 {
  opacity: 0.96;
  left: 87vw;
  top: 56vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(1.54);
  -ms-transform: translate(0, 0) scale(1.54);
  -webkit-transform: translate(0, 0) scale(1.54);
  transform: translate(0, 0) scale(1.54);
}
.bubble-3 {
  opacity: 0.5;
  left: 88vw;
  top: 35vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.18);
  -ms-transform: translate(0, 0) scale(1.18);
  -webkit-transform: translate(0, 0) scale(1.18);
  transform: translate(0, 0) scale(1.18);
}
.bubble-4 {
  opacity: 1;
  left: 98vw;
  top: 28vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.56);
  -ms-transform: translate(0, 0) scale(1.56);
  -webkit-transform: translate(0, 0) scale(1.56);
  transform: translate(0, 0) scale(1.56);
}
.bubble-5 {
  opacity: 0.13;
  left: 78vw;
  top: 15vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.19);
  -ms-transform: translate(0, 0) scale(0.19);
  -webkit-transform: translate(0, 0) scale(0.19);
  transform: translate(0, 0) scale(0.19);
}
.bubble-6 {
  opacity: 0.82;
  left: 52vw;
  top: 96vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(0.81);
  -ms-transform: translate(0, 0) scale(0.81);
  -webkit-transform: translate(0, 0) scale(0.81);
  transform: translate(0, 0) scale(0.81);
}
.bubble-7 {
  opacity: 0.04;
  left: 65vw;
  top: 9vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(0.51);
  -ms-transform: translate(0, 0) scale(0.51);
  -webkit-transform: translate(0, 0) scale(0.51);
  transform: translate(0, 0) scale(0.51);
}
.bubble-8 {
  opacity: 0.41;
  left: 36vw;
  top: 79vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(0.17);
  -ms-transform: translate(0, 0) scale(0.17);
  -webkit-transform: translate(0, 0) scale(0.17);
  transform: translate(0, 0) scale(0.17);
}
.bubble-9 {
  opacity: 0.07;
  left: 12vw;
  top: 92vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(0.23);
  -ms-transform: translate(0, 0) scale(0.23);
  -webkit-transform: translate(0, 0) scale(0.23);
  transform: translate(0, 0) scale(0.23);
}
.bubble-10 {
  opacity: 0.67;
  left: 88vw;
  top: 57vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(0.93);
  -ms-transform: translate(0, 0) scale(0.93);
  -webkit-transform: translate(0, 0) scale(0.93);
  transform: translate(0, 0) scale(0.93);
}
/* .bubble-11 {
  opacity: 0.7;
  left: 55vw;
  top: 49vh;
  animation: move-11 30.22s infinite;
  -moz-transform: translate(0, 0) scale(0.76);
  -ms-transform: translate(0, 0) scale(0.76);
  -webkit-transform: translate(0, 0) scale(0.76);
  transform: translate(0, 0) scale(0.76);
}
.bubble-12 {
  opacity: 0.72;
  left: 70vw;
  top: 63vh;
  animation: move-12 30.24s infinite;
  -moz-transform: translate(0, 0) scale(1.34);
  -ms-transform: translate(0, 0) scale(1.34);
  -webkit-transform: translate(0, 0) scale(1.34);
  transform: translate(0, 0) scale(1.34);
}
.bubble-13 {
  opacity: 0.28;
  left: 27vw;
  top: 28vh;
  animation: move-13 30.26s infinite;
  -moz-transform: translate(0, 0) scale(1.09);
  -ms-transform: translate(0, 0) scale(1.09);
  -webkit-transform: translate(0, 0) scale(1.09);
  transform: translate(0, 0) scale(1.09);
}
.bubble-14 {
  opacity: 0.24;
  left: 95vw;
  top: 98vh;
  animation: move-14 30.28s infinite;
  -moz-transform: translate(0, 0) scale(1.07);
  -ms-transform: translate(0, 0) scale(1.07);
  -webkit-transform: translate(0, 0) scale(1.07);
  transform: translate(0, 0) scale(1.07);
}
.bubble-15 {
  opacity: 0.8;
  left: 62vw;
  top: 56vh;
  animation: move-15 30.3s infinite;
  -moz-transform: translate(0, 0) scale(0.07);
  -ms-transform: translate(0, 0) scale(0.07);
  -webkit-transform: translate(0, 0) scale(0.07);
  transform: translate(0, 0) scale(0.07);
}
.bubble-16 {
  opacity: 0.66;
  left: 15vw;
  top: 48vh;
  animation: move-16 30.32s infinite;
  -moz-transform: translate(0, 0) scale(0.81);
  -ms-transform: translate(0, 0) scale(0.81);
  -webkit-transform: translate(0, 0) scale(0.81);
  transform: translate(0, 0) scale(0.81);
}
.bubble-17 {
  opacity: 0.83;
  left: 23vw;
  top: 2vh;
  animation: move-17 30.34s infinite;
  -moz-transform: translate(0, 0) scale(0.12);
  -ms-transform: translate(0, 0) scale(0.12);
  -webkit-transform: translate(0, 0) scale(0.12);
  transform: translate(0, 0) scale(0.12);
}
.bubble-18 {
  opacity: 0.87;
  left: 98vw;
  top: 42vh;
  animation: move-18 30.36s infinite;
  -moz-transform: translate(0, 0) scale(1.98);
  -ms-transform: translate(0, 0) scale(1.98);
  -webkit-transform: translate(0, 0) scale(1.98);
  transform: translate(0, 0) scale(1.98);
}
.bubble-19 {
  opacity: 0.6;
  left: 6vw;
  top: 68vh;
  animation: move-19 30.38s infinite;
  -moz-transform: translate(0, 0) scale(1.85);
  -ms-transform: translate(0, 0) scale(1.85);
  -webkit-transform: translate(0, 0) scale(1.85);
  transform: translate(0, 0) scale(1.85);
}
.bubble-20 {
  opacity: 0.93;
  left: 37vw;
  top: 10vh;
  animation: move-20 30.4s infinite;
  -moz-transform: translate(0, 0) scale(0.11);
  -ms-transform: translate(0, 0) scale(0.11);
  -webkit-transform: translate(0, 0) scale(0.11);
  transform: translate(0, 0) scale(0.11);
}
.bubble-21 {
  opacity: 0.1;
  left: 84vw;
  top: 81vh;
  animation: move-21 30.42s infinite;
  -moz-transform: translate(0, 0) scale(0.63);
  -ms-transform: translate(0, 0) scale(0.63);
  -webkit-transform: translate(0, 0) scale(0.63);
  transform: translate(0, 0) scale(0.63);
}
.bubble-22 {
  opacity: 0.23;
  left: 31vw;
  top: 11vh;
  animation: move-22 30.44s infinite;
  -moz-transform: translate(0, 0) scale(2.01);
  -ms-transform: translate(0, 0) scale(2.01);
  -webkit-transform: translate(0, 0) scale(2.01);
  transform: translate(0, 0) scale(2.01);
}
.bubble-23 {
  opacity: 0.92;
  left: 13vw;
  top: 96vh;
  animation: move-23 30.46s infinite;
  -moz-transform: translate(0, 0) scale(1.48);
  -ms-transform: translate(0, 0) scale(1.48);
  -webkit-transform: translate(0, 0) scale(1.48);
  transform: translate(0, 0) scale(1.48);
}
.bubble-24 {
  opacity: 0.3;
  left: 33vw;
  top: 82vh;
  animation: move-24 30.48s infinite;
  -moz-transform: translate(0, 0) scale(2.05);
  -ms-transform: translate(0, 0) scale(2.05);
  -webkit-transform: translate(0, 0) scale(2.05);
  transform: translate(0, 0) scale(2.05);
}
.bubble-25 {
  opacity: 0.75;
  left: 48vw;
  top: 27vh;
  animation: move-25 30.5s infinite;
  -moz-transform: translate(0, 0) scale(0.53);
  -ms-transform: translate(0, 0) scale(0.53);
  -webkit-transform: translate(0, 0) scale(0.53);
  transform: translate(0, 0) scale(0.53);
}
.bubble-26 {
  opacity: 0.91;
  left: 18vw;
  top: 90vh;
  animation: move-26 30.52s infinite;
  -moz-transform: translate(0, 0) scale(0.34);
  -ms-transform: translate(0, 0) scale(0.34);
  -webkit-transform: translate(0, 0) scale(0.34);
  transform: translate(0, 0) scale(0.34);
}
.bubble-27 {
  opacity: 0.27;
  left: 61vw;
  top: 2vh;
  animation: move-27 30.54s infinite;
  -moz-transform: translate(0, 0) scale(1.49);
  -ms-transform: translate(0, 0) scale(1.49);
  -webkit-transform: translate(0, 0) scale(1.49);
  transform: translate(0, 0) scale(1.49);
}
.bubble-28 {
  opacity: 0.88;
  left: 51vw;
  top: 83vh;
  animation: move-28 30.56s infinite;
  -moz-transform: translate(0, 0) scale(0.46);
  -ms-transform: translate(0, 0) scale(0.46);
  -webkit-transform: translate(0, 0) scale(0.46);
  transform: translate(0, 0) scale(0.46);
}
.bubble-29 {
  opacity: 0.05;
  left: 43vw;
  top: 16vh;
  animation: move-29 30.58s infinite;
  -moz-transform: translate(0, 0) scale(0.61);
  -ms-transform: translate(0, 0) scale(0.61);
  -webkit-transform: translate(0, 0) scale(0.61);
  transform: translate(0, 0) scale(0.61);
}
.bubble-30 {
  opacity: 0.96;
  left: 7vw;
  top: 77vh;
  animation: move-30 30.6s infinite;
  -moz-transform: translate(0, 0) scale(1.51);
  -ms-transform: translate(0, 0) scale(1.51);
  -webkit-transform: translate(0, 0) scale(1.51);
  transform: translate(0, 0) scale(1.51);
} */

@keyframes move-1 {
  54% {
    -moz-transform: translate(-61vw, -98vh);
    -webkit-transform: translate(-61vw, -98vh);
    transform: translate(-61vw, -98vh);
  }
}
@keyframes move-2 {
  42% {
    -moz-transform: translate(-11vw, -90vh);
    -webkit-transform: translate(-11vw, -90vh);
    transform: translate(-11vw, -90vh);
  }
}
@keyframes move-3 {
  51% {
    -moz-transform: translate(-70vw, -53vh);
    -webkit-transform: translate(-70vw, -53vh);
    transform: translate(-70vw, -53vh);
  }
}
@keyframes move-4 {
  48% {
    -moz-transform: translate(-15vw, -38vh);
    -webkit-transform: translate(-15vw, -38vh);
    transform: translate(-15vw, -38vh);
  }
}
@keyframes move-5 {
  53% {
    -moz-transform: translate(-38vw, -6vh);
    -webkit-transform: translate(-38vw, -6vh);
    transform: translate(-38vw, -6vh);
  }
}
@keyframes move-6 {
  41% {
    -moz-transform: translate(-29vw, -33vh);
    -webkit-transform: translate(-29vw, -33vh);
    transform: translate(-29vw, -33vh);
  }
}
@keyframes move-7 {
  59% {
    -moz-transform: translate(-4vw, -18vh);
    -webkit-transform: translate(-4vw, -18vh);
    transform: translate(-4vw, -18vh);
  }
}
@keyframes move-8 {
  57% {
    -moz-transform: translate(-18vw, -64vh);
    -webkit-transform: translate(-18vw, -64vh);
    transform: translate(-18vw, -64vh);
  }
}
@keyframes move-9 {
  49% {
    -moz-transform: translate(-72vw, -89vh);
    -webkit-transform: translate(-72vw, -89vh);
    transform: translate(-72vw, -89vh);
  }
}
@keyframes move-10 {
  35% {
    -moz-transform: translate(-42vw, -5vh);
    -webkit-transform: translate(-42vw, -5vh);
    transform: translate(-42vw, -5vh);
  }
}
@keyframes move-11 {
  41% {
    -moz-transform: translate(-18vw, -17vh);
    -webkit-transform: translate(-18vw, -17vh);
    transform: translate(-18vw, -17vh);
  }
}
@keyframes move-12 {
  43% {
    -moz-transform: translate(-37vw, 0vh);
    -webkit-transform: translate(-37vw, 0vh);
    transform: translate(-37vw, 0vh);
  }
}
@keyframes move-13 {
  46% {
    -moz-transform: translate(-46vw, 0vh);
    -webkit-transform: translate(-46vw, 0vh);
    transform: translate(-46vw, 0vh);
  }
}
@keyframes move-14 {
  53% {
    -moz-transform: translate(-84vw, -30vh);
    -webkit-transform: translate(-84vw, -30vh);
    transform: translate(-84vw, -30vh);
  }
}
@keyframes move-15 {
  32% {
    -moz-transform: translate(-42vw, -21vh);
    -webkit-transform: translate(-42vw, -21vh);
    transform: translate(-42vw, -21vh);
  }
}
@keyframes move-16 {
  36% {
    -moz-transform: translate(-42vw, -10vh);
    -webkit-transform: translate(-42vw, -10vh);
    transform: translate(-42vw, -10vh);
  }
}
@keyframes move-17 {
  58% {
    -moz-transform: translate(-81vw, -59vh);
    -webkit-transform: translate(-81vw, -59vh);
    transform: translate(-81vw, -59vh);
  }
}
@keyframes move-18 {
  43% {
    -moz-transform: translate(-65vw, -24vh);
    -webkit-transform: translate(-65vw, -24vh);
    transform: translate(-65vw, -24vh);
  }
}
@keyframes move-19 {
  50% {
    -moz-transform: translate(-4vw, -96vh);
    -webkit-transform: translate(-4vw, -96vh);
    transform: translate(-4vw, -96vh);
  }
}
@keyframes move-20 {
  53% {
    -moz-transform: translate(-4vw, -91vh);
    -webkit-transform: translate(-4vw, -91vh);
    transform: translate(-4vw, -91vh);
  }
}
@keyframes move-21 {
  38% {
    -moz-transform: translate(-46vw, -21vh);
    -webkit-transform: translate(-46vw, -21vh);
    transform: translate(-46vw, -21vh);
  }
}
@keyframes move-22 {
  52% {
    -moz-transform: translate(-75vw, -62vh);
    -webkit-transform: translate(-75vw, -62vh);
    transform: translate(-75vw, -62vh);
  }
}
@keyframes move-23 {
  40% {
    -moz-transform: translate(-57vw, -41vh);
    -webkit-transform: translate(-57vw, -41vh);
    transform: translate(-57vw, -41vh);
  }
}
@keyframes move-24 {
  43% {
    -moz-transform: translate(-11vw, -30vh);
    -webkit-transform: translate(-11vw, -30vh);
    transform: translate(-11vw, -30vh);
  }
}
@keyframes move-25 {
  37% {
    -moz-transform: translate(-47vw, -37vh);
    -webkit-transform: translate(-47vw, -37vh);
    transform: translate(-47vw, -37vh);
  }
}
@keyframes move-26 {
  33% {
    -moz-transform: translate(-48vw, -41vh);
    -webkit-transform: translate(-48vw, -41vh);
    transform: translate(-48vw, -41vh);
  }
}
@keyframes move-27 {
  32% {
    -moz-transform: translate(-56vw, -71vh);
    -webkit-transform: translate(-56vw, -71vh);
    transform: translate(-56vw, -71vh);
  }
}
@keyframes move-28 {
  34% {
    -moz-transform: translate(-2vw, -61vh);
    -webkit-transform: translate(-2vw, -61vh);
    transform: translate(-2vw, -61vh);
  }
}
@keyframes move-29 {
  60% {
    -moz-transform: translate(-85vw, -65vh);
    -webkit-transform: translate(-85vw, -65vh);
    transform: translate(-85vw, -65vh);
  }
}
@keyframes move-30 {
  47% {
    -moz-transform: translate(-31vw, -58vh);
    -webkit-transform: translate(-31vw, -58vh);
    transform: translate(-31vw, -58vh);
  }
}
